body {
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

canvas {
  border: 1px dashed gray;
}

[data-ref="note"] {
  height: 30px;
  font-size: 20px;
}


rect {
  fill: transparent;
  stroke: #555;
  stroke-width: 1px;
}

text {
  stroke: none;
  fill: #ccc;
  font-size: 12px;
}

.piano-key {
  transition: fill 150ms;
}

.piano-key--ivory {
  fill: snow;
}

.piano-key--ebony {
  fill: black;
}

.piano-key--lit {
  fill: #2196f3;
}